{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>
<body>
    <div class="func"><div class="big">Success</div><div class="small">비밀번호가 변경되었습니다!</div></div>

    <div class="popup open-popup" id="popup">
        <img src="{%static  'img/confirm.png'%}">
        <h2>패스워드 변경 완료</h2>
        <p>패스워드 변경이 완료되었습니다. 앱에서 다시 로그인 해주세요.</p>
        <button type="button" onclick="location.href='{% url "login2" %}'">로그인</button>
    </div>

</body>
</html>

