<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h4>Password Reset Email</h4>
    <span
      >다음 링크를 누르시면 {{user}}계정의 FARM 앱의 비밀번호를 재설정 할 수
      있는 화면으로 이동합니다.

      <a
        href="http://127.0.0.1:8000{% url 'password_reset_confirm' uidb64=uid token=token %}"
        >here</a
      ></span
    >
  </body>
</html>
