{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>
<body>
    <div class="func"><div class="big">Find PW</div><div class="small">잊어버린 비밀번호도 쉽게 찾아보세요!</div></div>
   <form method="POST">
    <div class="formWrap">
      {% csrf_token %}
        <input type="email" class="id_box_register" placeholder="you@example.com" name="email" autocomplete="email" maxlength="254" required id="id_email"></input>
        <img class="mailIMG_register" src="{% static "img/mail.png"%}">
    </div>
    <button class="okBTN_findPW" class="btn" onclick="openPopup()">비밀번호 찾기</button>
  </form>
    
</body>
</html>




