{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/reset.css'%}" />
  </head>
  <body>
    <div class="func">
      <div class="big">Reset PW</div>
      <div class="small">
        비밀번호를 잊으셨나요?<br />비밀번호 재설정으로 해결하세요.
      </div>
    </div>
    <div class="formWrap">
    <form method="POST">
      {% csrf_token %} {{form}}</div>
      <button class="okBTN_reset">비밀번호 변경</button>
    </form>
    <div class="comment_reset">
      로그인하러 가기&nbsp;&nbsp;<a href="{% url "login2" %}">로그인</a>
    </div>


   
    <!-- &nbsp; 띄어쓰기 -->




        <script>
let password1 = document.getElementById("id_new_password1");
let helptext = document.getElementByClassName("helptext");


  function doDisplay(){ 	
    var password1 = document.getElementById("id_new_password1"); 	
    if(.style.display=='none'){ 		
    	password1.style.display = 'block'; 	
    }else{ 		
    	password1.style.display = 'none'; 	
    } 
}

</script>
  
  </body>
</html>