<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/product-list.css">
</head>
<body>
    <header>
        <h2 style="text-align: center; padding: 20px;">버섯</h2>
        <nav id="tab-button-nav">
            <button class="tab-button" data-tab-section="tab-section-1" id="chestnut">밤</button>
            <button class="tab-button" data-tab-section="tab-section-2" id="nuts">은행/잣</button>
            <button class="tab-button" data-tab-section="tab-section-3" id="peanut">땅콩</button>
            <button class="tab-button" data-tab-section="tab-section-4" id="walnut">호두</button>
            <button class="tab-button" data-tab-section="tab-section-5" id="etc-nuts">기타 견과류</button>
        </nav>
    </header>
    <main>
        <section id="tab-section-1" class="tab-section">
            <div class="flexWrap">
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 밤</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 밤</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 밤</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 밤</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 밤</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
            </div>
        </section>
        <section id="tab-section-2" class="tab-section" hidden>
            <div class="flexWrap">
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 은행</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 잣</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 잣</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 은행</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 은행</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
            </div>
        </section>
        <section id="tab-section-3" class="tab-section" hidden>
            <div class="flexWrap">
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 땅콩</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 땅콩</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 땅콩</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 땅콩</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 땅콩</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
            </div>
        </section>
        <section id="tab-section-4" class="tab-section" hidden>
            <div class="flexWrap">
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 호두</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 호두</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 호두</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 호두</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 호두</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
            </div>
        </section>
        <section id="tab-section-5" class="tab-section" hidden>
            <div class="flexWrap">
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 아몬드</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 피칸</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
            </div>
        </section>
    </main>
    <script>
        const $nav = document.querySelector('#tab-button-nav')
        const $sections = document.querySelectorAll('.tab-section');

        $nav.addEventListener('click', (e) => {
            if (!e.target.classList.contains('tab-button')) {
                return;
            }

            const focusedTabId = e.target.dataset.tabSection;

            $sections.forEach(($section) => {
                if ($section.id === focusedTabId) {
                    $section.removeAttribute('hidden');
                } else {
                    $section.setAttribute('hidden', true);
                }
            });
        });
    </script>
</body>
</html>