<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/product-list.css">
</head>
<body>
    <header>
        <h2 style="text-align: center; padding: 20px;">곡물</h2>
        <nav id="tab-button-nav">
            <button class="tab-button" data-tab-section="tab-section-1" id="maize">옥수수</button>
            <button class="tab-button" data-tab-section="tab-section-2" id="sesame">참깨/들깨</button>
            <button class="tab-button" data-tab-section="tab-section-3" id="rice">쌀/흑미/찹쌀</button>
            <button class="tab-button" data-tab-section="tab-section-4" id="barley">보리</button>
            <button class="tab-button" data-tab-section="tab-section-5" id="bean">콩/서리태</button>
            <button class="tab-button" data-tab-section="tab-section-6" id="oat">귀리</button>
        </nav>
    </header>
    <main>
        <section id="tab-section-1" class="tab-section">
            <div class="flexWrap">
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 옥수수</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 옥수수</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 옥수수</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 옥수수</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 옥수수</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
            </div>
        </section>
        <section id="tab-section-2" class="tab-section" hidden>
            <div class="flexWrap">
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 참깨</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 들깨</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 참깨</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 들깨</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 참깨</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
            </div>
        </section>
        <section id="tab-section-3" class="tab-section" hidden>
            <div class="flexWrap">
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 쌀</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 흑미</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 찹쌀</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 쌀</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 찹쌀</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
            </div>
        </section>
        <section id="tab-section-4" class="tab-section" hidden>
            <div class="flexWrap">
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 보리</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 보리</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 보리</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 보리</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 보리</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
            </div>
        </section>
        <section id="tab-section-5" class="tab-section" hidden>
            <div class="flexWrap">
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 콩</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 서리태</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 콩</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 서리태</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 콩</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
            </div>
        </section>
        <section id="tab-section-6" class="tab-section" hidden>
            <div class="flexWrap">
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 귀리</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 귀리</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 귀리</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 귀리</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 귀리</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
            </div>
        </section>
        <section id="tab-section-7" class="tab-section" hidden>
            <div class="flexWrap">
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 새송이버섯</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 새송이버섯</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 새송이버섯</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 새송이버섯</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 새송이버섯</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
            </div>
        </section>
        <section id="tab-section-8" class="tab-section" hidden>
            <div class="flexWrap">
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 귀리</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 귀리</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 귀리</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 귀리</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
                <div><img src="/img/하오하오.jpg">
                    <p class="title">농장이름</p>
                    <p class="product" id="apple">맛있는 귀리</p>
                    <p class="unit">단위</p>
                    <p class="price">(가격)원</p>
                </div>
            </div>
        </section>
    </main>
    <script>
        const $nav = document.querySelector('#tab-button-nav')
        const $sections = document.querySelectorAll('.tab-section');

        $nav.addEventListener('click', (e) => {
            if (!e.target.classList.contains('tab-button')) {
                return;
            }

            const focusedTabId = e.target.dataset.tabSection;

            $sections.forEach(($section) => {
                if ($section.id === focusedTabId) {
                    $section.removeAttribute('hidden');
                } else {
                    $section.setAttribute('hidden', true);
                }
            });
        });
    </script>
</body>
</html>