<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/market.css">
</head>
<body>
    <div class="header">
        <h2>농산물 모음</h2>
        <p>믿을 수 있는 농산물 거래</p>
    </div>
    <div class="flexWrap">
        <div class="fruit"><img src="/img/fruit.jpg" onclick="location.href='./product-list/product-list-fruit.html'">과일</div>
        <div class="vegetable"><img src="/img/vegetable.jpg" onclick="location.href='./product-list/product-list-vegetable.html'">채소</div>
        <div class="herbs"><img src="/img/herb.jpg" onclick="location.href='./product-list/product-list-herbs.html'">나물</div>
        <div class="mushroom"><img src="/img/mushroom.jpg" onclick="location.href='./product-list/product-list-mushroom.html'">버섯</div>
        <div class="grain"><img src="/img/grain.jpg" onclick="location.href='./product-list/product-list-grain.html'">곡물</div>
        <div class="nuts"><img src="/img/nuts.jpg" onclick="location.href='./product-list/product-list-nuts.html'">견과</div>
        <div class="root"><img src="/img/root.jpg" onclick="location.href='./product-list/product-list-root.html'">뿌리</div>
    </div>
    <img src="/img/recipe-banner.png" style="width: 100vw; position: absolute; left: 0%; margin-top: 40px;" >
    <p class="big">농산물의 풍부함으로 무한한 요리의 세계를 만들어보세요!</p>
    <a class="small" href="#">레시피 보러가기</a>
    
</body>
</html>