{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <title>게시판</title>
    <link rel="stylesheet" href="{% static '/css/write-post.css' %}">
    
</head>

<body>
    <div class="board_wrap">
        <div class="board_title">
            <p>👨‍🌾 봉사활동 등록</p>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="board_write_wrap">
            <div class="board_write">
                <div class="title">
                    <dl>
                       <input type="text" class="title-input" placeholder="제목을 작성해주세요." name="title">
                    </dl>
                </div>
                <select name="region">
                    <option value="">지역</option>
                    <option value="seoul">서울</option>
                    <option value="metropolitan">광역시</option>
                    <option value="gyeonggi">경기도</option>
                    <option value="gangwon">강원도</option>
                    <option value="chungcheong">충청도</option>
                    <option value="gyeongsong">경상도</option>
                    <option value="jeolla">전라도</option>
                    <option value="jeju">제주도</option>
                </select>
                <input type="text" name="hours" placeholder="봉사시간" style="width: 50px; margin-left: 60%;"> 시간</br>
                <p>시작일 <input type="date" id="start" name="start_period"/>
                  ~   종료일 <input type="date" id="start" name="end_period"/></p>
                <div class="cont">
                    <textarea class="content-input" contenteditable="true" name="contents"></textarea>
                </div>
            </div>
        </div>
        <div id='image_preview'>
            <input type='file' id='btnAtt' multiple='multiple' name="image" accept="image/*" require/>
            <div id='att_zone' data-placeholder='파일을 첨부 하려면 파일 선택 버튼을 클릭하거나 파일을 드래그앤드롭 하세요'></div>
        </div>
        <button type="submit" class="upload">완료</button>
        </form>
    </div>
    <script>
    ( /* att_zone : 이미지들이 들어갈 위치 id, btn : file tag id */
            imageView = function imageView(att_zone, btn) {

                var attZone = document.getElementById(att_zone);
                var btnAtt = document.getElementById(btn)
                var sel_files = [];

                // 이미지와 체크 박스를 감싸고 있는 div 속성
                var div_style = 'display:inline-block;position:relative;'
                    + 'width:150px;height:120px;margin:5px;z-index:1';
                // 미리보기 이미지 속성
                var img_style = 'width:100%;height:100%;z-index:none';
                // 이미지안에 표시되는 체크박스의 속성
                var chk_style = 'width:30px;height:30px;position:absolute;font-size:24px;font-weight:bold;'
                    + 'right:0px;bottom:3px;z-index:999;background-color:rgba(255,255,255,0.1);color:white;border:none';

                btnAtt.onchange = function (e) {
                    var files = e.target.files;
                    var fileArr = Array.prototype.slice.call(files)
                    for (f of fileArr) {
                        imageLoader(f);
                    }
                }


                // 탐색기에서 드래그앤 드롭 사용
                attZone.addEventListener('dragenter', function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                }, false)

                attZone.addEventListener('dragover', function (e) {
                    e.preventDefault();
                    e.stopPropagation();

                }, false)

                attZone.addEventListener('drop', function (e) {
                    var files = {};
                    e.preventDefault();
                    e.stopPropagation();
                    var dt = e.dataTransfer;
                    files = dt.files;
                    for (f of files) {
                        imageLoader(f);
                    }

                }, false)



                /*첨부된 이미리즐을 배열에 넣고 미리보기 */
                imageLoader = function (file) {
                    sel_files.push(file);
                    var reader = new FileReader();
                    reader.onload = function (ee) {
                        let img = document.createElement('img')
                        img.setAttribute('style', img_style)
                        img.src = ee.target.result;
                        attZone.appendChild(makeDiv(img, file));
                    }

                    reader.readAsDataURL(file);
                }

                /*첨부된 파일이 있는 경우 checkbox와 함께 attZone에 추가할 div를 만들어 반환 */
                makeDiv = function (img, file) {
                    var div = document.createElement('div')
                    div.setAttribute('style', div_style)

                    var btn = document.createElement('input')
                    btn.setAttribute('type', 'button')
                    btn.setAttribute('value', 'x')
                    btn.setAttribute('delFile', file.name);
                    btn.setAttribute('style', chk_style);
                    btn.onclick = function (ev) {
                        var ele = ev.srcElement;
                        var delFile = ele.getAttribute('delFile');
                        for (var i = 0; i < sel_files.length; i++) {
                            if (delFile == sel_files[i].name) {
                                sel_files.splice(i, 1);
                            }
                        }

                        dt = new DataTransfer();
                        for (f in sel_files) {
                            var file = sel_files[f];
                            dt.items.add(file);
                        }
                        btnAtt.files = dt.files;
                        var p = ele.parentNode;
                        attZone.removeChild(p)
                    }
                    div.appendChild(img)
                    div.appendChild(btn)
                    return div
                }
            }
        )('att_zone', 'btnAtt')

    </script>
</body>
</html>