{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <title>Document</title>
    <link rel="stylesheet" href="{%static "css/form.css"%}" />
  </head>
  <body>
    <div class="func">
      <div class="big">Check Email</div>
      <div class="small">메일 인증을 완료해 주세요!</div>
    </div>
    <div class="popup open-popup" id="popup">
      <img src="{%static "img/confirm.png"%}" />
      <h2>이메일 인증 안내</h2>
      <p>
        입력한 이메일로 인증 메일이 전송되었습니다. 메일로 전송된 링크를 클릭해
        인증을 완료해 주십시오. 만약, 인증메일이 메일함에 없다면 스팸 메일함을
        확인해주십시오.
      </p>
    </div>
  </body>
</html>
